/* choosen main colors , not incluced anywhere*/
/* Color Theme Swatches in Hex */
.Kopie-von-wald-04neu-1-hex { color: #9AA63F; }
.Kopie-von-wald-04neu-2-hex { color: #405C25; }
.Kopie-von-wald-04neu-3-hex { color: #D9AD77; }
.Kopie-von-wald-04neu-4-hex { color: #735449; }
.Kopie-von-wald-04neu-5-hex { color: #8C3926; }

/* Color Theme Swatches in RGBA */
.Kopie-von-wald-04neu-1-rgba { color: rgba(154, 165, 63, 1); }
.Kopie-von-wald-04neu-2-rgba { color: rgba(63, 91, 36, 1); }
.Kopie-von-wald-04neu-3-rgba { color: rgba(216, 172, 119, 1); }
.Kopie-von-wald-04neu-4-rgba { color: rgba(114, 84, 73, 1); }
.Kopie-von-wald-04neu-5-rgba { color: rgba(140, 56, 38, 1); }

/* Color Theme Swatches in HSLA */
.Kopie-von-wald-04neu-1-hsla { color: hsla(66, 44, 44, 1); }
.Kopie-von-wald-04neu-2-hsla { color: hsla(90, 42, 25, 1); }
.Kopie-von-wald-04neu-3-hsla { color: hsla(33, 56, 65, 1); }
.Kopie-von-wald-04neu-4-hsla { color: hsla(15, 22, 36, 1); }
.Kopie-von-wald-04neu-5-hsla { color: hsla(11, 57, 34, 1); }