/* scoreboard */
.shadow th, .shadow td {
    padding: 1em;
}

.shadow th {
    border-bottom: 1px solid #D9AD77;
}
.shadow {
    position: relative;
    margin: 200px auto 0;
    width: 400px;
    height: 300px;
    background: linear-gradient(0deg, #000, #262626);
    color: #D9AD77;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.score{
    text-align: right;
}
.shadow::before, .shadow::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    background: linear-gradient(45deg, #9AA63F, #D9AD77, #405C25,#9AA63F, #D9AD77, #405C25, #9AA63F);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background-size: 400%;
    z-index: -1;
    animation: shadow 25s linear infinite;
}
.shadow::after {
    filter: blur(20px);
}
@keyframes shadow {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 300% 0;
    }

    100% {
        background-position: 0 0;
    }
}
/* game style */
.game{
    background-color: rgb(82, 51, 25);
}
.cell {
    /* border: 3px solid yellow;
    border-radius: 5px; */
    border: 15px solid transparent;
    border-image:url('images/trees.png') 30 round;
    padding: 30px;
    color: white;
}

.player {
   background-image: url('images/start.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 445147;
}
.player-up{
    background-image: url('images/move_up.png');
}
.player-down{
    background-image: url('images/move_down.png');
}
.player-left{
    background-image: url('images/move_left.png');
}
.player-right{
    background-image: url('images/move_right.png');
}

.goal {
    /* background-color: greenyellow; */
    background-image: url('images/gate.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.no-left {
    border-left: 0px;
}

.no-right {
    border-right: 0px;
}

.no-top {
    border-top: 0px;
}

.no-bottom {
    border-bottom: 0px;
}

/* gamestatus */
.gamestatus {
    padding: 2em;
}

/* Button */
  .start{
    display:inline-block;
    padding: 1em 2em;
    margin: 2em auto 2em 2em;
    font-weight: bold;
    border: 0.16em solid rgba(216, 172, 119, 1);
    border-radius: 0.3em;
    box-sizing: border-box;
    text-decoration:none;
    cursor: pointer;
    color: rgba(216, 172, 119, 1);
    text-align:center;
    transition: all 0.2s;
    background: transparent;
    background: linear-gradient(0deg, #000, #262626);
    }

    .start:hover{
    border-color: white;
    box-shadow: 0 0 0.6em rgba(216, 172, 119, 1);
    }

    .start span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      
      .start span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      
      .start:hover span {
        padding-right: 25px;
      }
      
      .start:hover span:after {
        opacity: 1;
        right: 0;
      }

      /* Table */
      #score {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 30%;
        margin-left: 2em;
        background: linear-gradient(0deg, #9AA63F, #405C25);
      }
      
      #score td, #score th {
        border: 1px solid rgba(216, 172, 119, 1);
        padding: 0.5em;
        /* background: #9AA63F; */
        color:black;
        /* color: rgba(216, 172, 119, 1); */
      }
      
      #score th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        /* background-color: #9AA63F; */
        /* background: linear-gradient(0deg, #000, #262626); */
        /* color: rgba(216, 172, 119, 1); */
        color: black;
      }

      /* pop up window for finish game */
      .pop-up{
        width:300px;
        background-color: black ;
        color: rgba(216, 172, 119, 1);
        padding:1em;
        box-shadow: 0 0 0.6em rgba(216, 172, 119, 1);
    }
    .pop-up > p{
        text-align: center;
        font-weight: bold;
        
    }
    .next-lvl{
        padding: 0.5em;
        margin-top:1em;
        position: relative;
        background: linear-gradient(0deg, #cfdf57, #6d9b42);
        left:50%;
        transform: translate(-50%);
        border:none;
        cursor: pointer;
        color:black;
    }
    .next-lvl:hover{
        border-color: white;
        box-shadow: 0 0 0.6em rgba(216, 172, 119, 1);
    }